* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

:root {
    --Green: hsl(75, 94%, 57%);

    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --Dark-Grey: hsl(0, 0%, 12%);
    --Off-Black: hsl(0, 0%, 8%);
}

body {
    background: var(--Off-Black);
}

.wrapper {
    padding: 1.5rem;
    display: block;
    max-width: 300px;
    background-color: var(--Dark-Grey);
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;   
    color: var(--White);
    border-radius: 1rem;
}

img {
    border-radius: 50%;
    width: 30%;
}

h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
}

h2 {
    font-size: .8rem;
    font-weight: 600;
    margin-top: .5rem;
    color: var(--Green);
}

p {
    font-size: .8rem;
    font-weight: 400;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    color: hsl(0, 0%, 80%);
}

.contact {
    background-color: var(--Grey);
    margin: .75rem;
    padding: .75rem;
    border-radius: .5rem;

    font-size: .8rem;
    font-weight: 600;
}

.contact:hover {
    cursor: pointer;
    background-color: var(--Green);
    color: black;
}